<div class="fluid-container my-16 flex flex-col gap-4">

    <div class="flex items-center gap-8">
        <div class="w-1/3 flex justify-center">

            <img src="{{ image }}" class="w-100" alt="{{ title }}" />

        </div>

        <div class="w-2/3 flex flex-col gap-6">
            {{ partial:typography/h1 :content="title" }}


            <div class="border-y border-gray-300 py-6">
                {{ if (product_description_ai > '') }}
                    {{ product_description_ai | nl2br }}
                {{ elseif (product_description_manual > '') }}
                    {{ product_description_manual }}
                {{ else }}
                   {{ product_description }}
                {{ /if }}
            </div>

            <div class="flex justify-between items-center gap-6">
                <span class="text-green-600 text-xl">
                    &euro; {{ price }}
                </span>

                <a href="{{ affiliate_link }}" class="font-bold underline decoration-2 focus:outline-none focus-visible:ring focus-visible:ring-offset-2 inline-flex items-center py-3 px-4 rounded leading-none no-underline select-none whitespace-nowrap motion-safe:transition bg-primary text-white focus-visible:ring-primary" >
                    Bestellen via {{ merchants:merchant_name ?? merchant_name }}
                </a>
            </div>

            {{ if (category) }}
                <div class="border-y border-gray-300 py-6">
                    <b>Te vinden in de volgende categorieën:</b>
                    <ul class="list-disc ml-4">
                        {{ category }}
                        <li>
                            <a href="{{ url }}" class="transition-all hover:text-primary">{{ title }}</a>
                        </li>
                        {{ /category }}
                    </ul>
                </div>
            {{ /if }}

        </div>
    </div>

    <div>
        <ul>
            {{ if (merchants:merchant_name > '') }}
                <li>
                    {{ merchants:merchant_name }}
                </li>
            {{ /if }}
            {{ if (merchants:logo > '') }}
                <li>
                    <img src="{{ merchants:logo }}" alt="{{ merchants:merchant_name }}" class="w-20" />
                </li>
            {{ /if }}
            {{ if (merchants:usp_article) }}
                <li>
                    {{ partial:typography/prose as="article" class="contents" }}
                        {{ merchants:usp_article }}
                            <div class="size-md">
                                {{ partial src="components/{type}" }}
                            </div>
                        {{ /merchants:usp_article }}
                    {{ /partial:typography/prose }}
                </li>
            {{ /if }}
            {{ if (merchants:payment_methods) }}
                <li>
                    {{ merchants:payment_methods }}
                        {{ name_payment_provider }}
                        <img src="{{ payment_logo }}" class="w-16" />
                    {{ /merchants:payment_methods }}
                </li>
            {{ /if }}
        </ul>
    </div>

</div>
